{% extends 'base.html' %}
{% load static %}
{% block title %}HomePage{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        <div class="row">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla odio dui, ut elementum neque
            consectetur nec. Donec in leo sit amet lacus aliquet placerat in ac magna. Etiam ac orci nec massa efficitur
            ultricies. Aliquam erat volutpat. Proin sollicitudin lorem in libero ultrices, at gravida elit volutpat.
            Maecenas bibendum tincidunt mauris eget consectetur. Suspendisse eu augue ut lacus mollis interdum at eu
            neque. Mauris molestie diam sit amet ultrices euismod. Mauris auctor congue arcu, non vestibulum lacus
            placerat at. Sed dapibus, arcu sit amet feugiat consequat, massa magna condimentum augue, non lacinia risus
            nibh non purus. Nulla consectetur lacinia nisl aliquet pellentesque. Nulla facilisi. Suspendisse id elit
            vitae erat suscipit euismod vulputate at turpis. Mauris consectetur dolor vitae nisi maximus, eget pretium
            felis gravida. Morbi in elit elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.

            Aliquam dictum, orci a lobortis eleifend, nulla lorem congue tortor, eget pharetra justo justo sed urna. Sed
            nec ipsum et purus dignissim mattis. Aliquam eu purus vehicula, egestas lacus sit amet, lobortis ipsum.
            Etiam quis enim mollis magna imperdiet elementum ac et nibh. Aenean ultricies tortor sit amet ante sodales,
            congue tristique ante scelerisque. Morbi fermentum blandit ex, a posuere metus tempus quis. In hac habitasse
            platea dictumst. Aenean tempor, mi non finibus ornare, orci arcu tempor lorem, eu convallis enim nunc at
            erat. Pellentesque viverra turpis ex, ac interdum tellus lacinia sit amet. Nullam congue ipsum in augue
            mollis pretium. Aliquam erat volutpat. Duis posuere turpis eu elit mattis, non rhoncus justo molestie. Nunc
            porttitor in sapien ac feugiat. Nulla facilisi. Aliquam vel justo nec turpis mollis imperdiet. Nam id
            facilisis risus, a molestie odio.

            Quisque pretium ullamcorper enim vitae tincidunt. Donec varius purus lorem, in mollis mauris vulputate sit
            amet. Praesent ullamcorper elementum interdum. Quisque auctor nisl in elit vestibulum porta. Curabitur
            volutpat quis sapien in ornare. Nullam pretium erat viverra tellus faucibus volutpat. Nulla bibendum iaculis
            mi, at varius orci tristique a. Quisque imperdiet convallis augue.

            In tincidunt tellus non arcu porta aliquet. Aliquam commodo lectus cursus gravida consectetur. Integer
            lectus mi, pharetra fermentum venenatis eu, pellentesque vel sapien. Vivamus libero odio, sodales nec velit
            lobortis, aliquam fringilla sapien. Sed et pharetra dui. Mauris commodo odio enim, a blandit augue maximus
            ac. Donec egestas et tellus a fermentum. Maecenas ultricies sit amet est quis fermentum. Suspendisse ac
            varius sapien. Phasellus a sem luctus nunc posuere ornare vitae eu nisl. Praesent auctor id ante et
            vulputate. Maecenas lobortis sapien eget nunc tristique fringilla. Nullam a rutrum tellus, ac scelerisque
            sapien. Mauris faucibus, nunc eget viverra varius, orci justo ullamcorper neque, nec tincidunt velit risus
            ac sem. Donec mi ex, ornare a massa sit amet, mattis maximus nulla.

            Mauris aliquet ante nec purus convallis, a sollicitudin mauris suscipit. Donec nec nulla efficitur,
            porttitor massa vitae, lacinia leo. Nam eget mauris nec arcu accumsan tempor. Donec pulvinar, nibh in
            dapibus congue, felis erat lobortis purus, at sollicitudin lorem diam vel erat. Ut imperdiet dolor quam,
            vitae egestas orci pulvinar et. Praesent at viverra leo. Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Nam lectus urna, tincidunt eu nibh sed, viverra facilisis erat.
            Nullam nec lectus orci. Pellentesque fringilla diam non faucibus finibus.

            Sed ut nibh enim. Fusce nec tellus sit amet velit vulputate porttitor eu at sapien. Etiam ac risus malesuada
            mi vehicula auctor quis quis mi. Aliquam erat volutpat. Donec et interdum ex. Etiam tincidunt tellus metus,
            vitae rhoncus enim laoreet sed. Vivamus id nisi mi. Morbi odio elit, cursus suscipit consequat quis, maximus
            vel metus. Vestibulum suscipit nisi sed iaculis mollis. In mi eros, semper a nulla ac, vehicula efficitur
            diam.

            Maecenas purus turpis, luctus in bibendum sed, imperdiet ac arcu. Sed felis libero, ullamcorper vitae
            facilisis a, ullamcorper vel ex. Integer aliquam nisl dui, ultricies laoreet orci pretium ut. Integer
            bibendum, mauris eu feugiat ultricies, tortor justo iaculis dolor, quis pharetra eros lorem non ligula. Ut
            eget iaculis nisl. Mauris tristique diam sit amet sodales convallis. Integer a nisl in augue rutrum
            tincidunt quis in ipsum. Praesent in elit dui. Sed pretium nec est id suscipit.

            Integer gravida magna vel turpis consequat, id rhoncus ex egestas. Nam tristique tempus dui, vel dignissim
            ante scelerisque non. Maecenas placerat, est vel faucibus molestie, tortor tellus faucibus nibh, ac
            fringilla dui est vel ligula. Morbi eget sodales elit. Sed imperdiet quam at massa auctor convallis. Cras
            sit amet vestibulum augue. Nullam nunc eros, vehicula a nisl vel, pulvinar dictum leo. Curabitur felis enim,
            tincidunt non turpis eget, fringilla varius dolor. Pellentesque in libero non nibh efficitur pretium. In
            rhoncus purus elit, quis condimentum dolor elementum suscipit. Aliquam consectetur nisl sed tincidunt
            condimentum. Aliquam ullamcorper posuere tellus, at accumsan sem gravida nec. Fusce erat augue, porttitor eu
            feugiat a, tristique non leo.

            Praesent id consectetur libero, id rhoncus nulla. Nunc consectetur venenatis bibendum. Donec egestas diam
            vitae tortor posuere placerat. Praesent posuere felis quis nulla gravida feugiat. Cras nec interdum arcu,
            vitae tempus ante. Quisque pharetra scelerisque ultrices. Donec feugiat justo urna, pulvinar tristique diam
            sodales at. In aliquet sodales sapien, eget cursus sem commodo a. Nam nec elit sit amet nisi gravida
            ultricies. Integer sagittis nec magna ac dictum. Mauris eu eros quis augue tincidunt iaculis. Curabitur nec
            leo vel quam fringilla mollis vel porta odio. Duis vulputate scelerisque ante, faucibus porta risus
            elementum non.

            Sed placerat maximus quam non posuere. Nam mattis sed tellus vitae volutpat. Praesent pulvinar eu libero in
            rutrum. Suspendisse orci nisi, viverra id ligula sit amet, varius fringilla quam. Sed hendrerit ornare nunc,
            vel dictum mi luctus id. Proin euismod diam vitae ipsum ultricies rutrum. Nulla ornare, justo et blandit
            finibus, libero purus eleifend leo, quis porttitor mauris odio non dui. Proin sit amet porttitor augue, in
            feugiat lorem. Fusce sed lobortis urna. Pellentesque venenatis neque at ultricies blandit. Etiam rhoncus
            enim in tellus semper, nec ultricies metus euismod.

            Quisque blandit quam nibh, vitae lobortis felis commodo id. Sed sollicitudin pellentesque turpis, ac tempor
            eros gravida quis. Morbi vitae purus a turpis faucibus vulputate. Etiam tempus leo eget imperdiet bibendum.
            Etiam eget magna est. Ut molestie risus auctor neque faucibus, vitae dignissim orci cursus. Vestibulum
            imperdiet fringilla metus et euismod. Vestibulum volutpat sed orci et viverra. Aenean eget ligula risus.
            Aenean at erat a ex aliquam gravida at eu nisl. Quisque consequat massa ac arcu posuere, ac molestie leo
            posuere. Nulla accumsan condimentum ipsum, et fringilla magna pulvinar vitae. Mauris ac nulla sed quam
            laoreet consectetur. Morbi fringilla libero ac nunc tincidunt, in sagittis dolor tristique.

            Vivamus et fringilla metus. Aenean eget ligula eleifend, efficitur velit tincidunt, posuere nisl. Ut finibus
            mauris egestas dignissim volutpat. Quisque rutrum in nisi eu viverra. Sed ut nulla aliquam, auctor odio sit
            amet, auctor nunc. Nulla ante justo, vulputate ac sodales quis, aliquet sed enim. Vestibulum nec sem sed est
            ullamcorper bibendum. Praesent semper eu nisl eu dapibus. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Mauris molestie tincidunt ex, ac ornare purus.

            Proin nec pulvinar urna, nec aliquet diam. Vivamus ullamcorper lacus ex, sed vulputate diam faucibus eu. Nam
            lacinia tristique suscipit. Vivamus in ex sed nibh faucibus mattis. Nulla vulputate risus id arcu imperdiet
            euismod. Donec a tincidunt quam. Nam tristique facilisis scelerisque. Mauris id imperdiet nulla, non
            condimentum mi. Aliquam condimentum eros imperdiet elit lobortis rutrum. Aliquam ut eros purus.

            Suspendisse aliquam, tortor quis imperdiet gravida, libero libero faucibus arcu, et rhoncus lectus sapien
            sit amet lectus. Praesent euismod odio quis dolor sodales, et congue ligula iaculis. Duis consequat ipsum
            orci, nec finibus sem vulputate vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia curae; In porta dapibus sapien sed dictum. Vivamus vitae nisi congue, vehicula felis vel,
            varius dui. Nam sagittis, metus et semper volutpat, justo ipsum varius ante, nec tempus nisl dolor a justo.
            Aliquam pellentesque arcu lacus, vel scelerisque quam pharetra sit amet. Sed convallis in felis non pretium.

            Integer at gravida tortor, eu posuere nibh. Suspendisse eros lectus, sollicitudin id nisl nec, mollis
            suscipit ligula. Aliquam finibus mauris molestie nisi eleifend, at ornare urna venenatis. Nam maximus purus
            vehicula ipsum ornare, luctus viverra risus lacinia. Nam fringilla vel odio ac ultricies. Aliquam
            scelerisque diam ac augue fringilla vestibulum. Maecenas eleifend purus quis arcu egestas, a dapibus tellus
            varius. Donec eget faucibus lorem. Nullam id condimentum purus. In sed volutpat ipsum. Suspendisse potenti.
            Aliquam gravida nunc et sapien aliquam, vitae interdum magna ultrices. Aliquam maximus arcu vel velit
            interdum bibendum. Suspendisse a nunc sed mi fermentum posuere. Morbi vel metus et leo scelerisque
            sollicitudin ut quis arcu.

            Cras gravida ut neque non rhoncus. Pellentesque ornare purus sit amet libero condimentum, vitae dictum ex
            rhoncus. Phasellus malesuada interdum augue porttitor aliquet. Suspendisse vel mauris sed arcu consectetur
            euismod id quis mauris. Aliquam dignissim risus lectus, in malesuada urna auctor sed. In enim arcu, lobortis
            ac mi et, ultrices bibendum lorem. Nulla at pulvinar ipsum. Nam enim arcu, euismod et scelerisque ut,
            malesuada id massa. Nullam auctor et magna nec condimentum. Praesent ac justo elit. Nam a nulla sed lectus
            viverra cursus. Maecenas sapien justo, condimentum vel consectetur a, rhoncus eu magna. Integer eleifend
            erat turpis. Duis pharetra lorem pretium sapien molestie, nec bibendum nunc bibendum.

            Fusce ut nisl vel arcu semper aliquam eget vitae metus. Fusce feugiat fermentum enim, nec euismod magna
            sollicitudin sit amet. Mauris ultricies ipsum sed hendrerit congue. Suspendisse at nulla auctor lorem
            bibendum tincidunt. Maecenas nec turpis imperdiet lectus lobortis varius. Curabitur id interdum quam.
            Maecenas commodo blandit turpis, sed fringilla dui facilisis facilisis. Proin sollicitudin egestas erat, sit
            amet viverra odio tristique vel. Aliquam erat volutpat. Aenean faucibus efficitur mi sit amet tincidunt.
            Vestibulum a odio a felis laoreet consectetur.

            Aliquam pellentesque euismod massa quis congue. Sed eu fringilla nunc. Fusce et lobortis risus. Mauris
            sagittis neque sit amet nisi pharetra faucibus. Fusce eget dolor porta, sodales neque eget, tempus erat.
            Maecenas blandit pretium lacus, in convallis nibh blandit eget. Mauris vehicula ultrices varius.

            Suspendisse in laoreet nisi. Integer urna felis, faucibus vel tincidunt in, ultrices nec purus. Aenean ante
            leo, eleifend eu velit et, fermentum laoreet nisi. Sed et ex volutpat, rhoncus magna sit amet, ullamcorper
            erat. Donec ac nibh turpis. Sed cursus dictum odio, ut faucibus massa. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. Donec cursus lorem quis sem suscipit commodo.
            Donec egestas sollicitudin massa, et rutrum dolor accumsan eu. Praesent sit amet magna ornare, commodo arcu
            sit amet, posuere sem. Nam magna nibh, lobortis ut quam non, ornare consequat nibh. Duis eget massa id sem
            finibus pharetra eget nec nisi. Integer et magna scelerisque sem scelerisque vestibulum. Pellentesque
            vulputate massa non consectetur gravida.

            Vestibulum blandit enim et scelerisque tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam suscipit lacus sit amet lectus rhoncus, non cursus sem consequat. Sed varius feugiat ultrices. Donec
            nec blandit ipsum, nec imperdiet mauris. Quisque ullamcorper enim eu pretium suscipit. Vestibulum elit erat,
            aliquam sit amet urna vel, tempus porttitor nunc. Nam quis turpis commodo, egestas erat vitae, cursus
            turpis. Phasellus tempus, felis ut maximus volutpat, eros ipsum viverra elit, commodo iaculis arcu est id
            magna. Vivamus sit amet turpis rhoncus sem elementum fermentum. Duis id feugiat nulla. Duis sollicitudin
            porta urna id ullamcorper. Vestibulum at turpis sed magna vehicula eleifend eu ac elit. Maecenas turpis
            mauris, ornare sit amet tincidunt quis, lobortis mollis purus. Proin malesuada a dui quis placerat.
        </div>
        <h1 class="text-center text-success">Explore by category</h1>
        <div class="row category-cards">
            <div class="col-md-2">
                <div class="card">
                    <img src="{% static 'img/electrician.png' %}" class="card-img-top" style="width:45px" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center"><button class="btn btn-primary">List Electricians</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

