{% extends 'base.html' %}


{% block title %}Member List{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

                <table class="table border-dark">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Second Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in all_members %}
                        <tr>
                            <td>{{ member.first_name }}</td>
                            <td>{{ member.last_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.phone_number }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>

{% endblock %}