{% extends 'base.html' %}


{% block title %}Member List{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="col-md-6 offset-md-3">
        <div class="row">
            <table class="table border-dark">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for member in all_members %}
                    <tr>
                        <td>{{ member.first_name }}</td>
                        <td>{{ member.last_name }}</td>
                        <td><a href="{% url 'detail_member' member.id %}" type="button" class="btn btn-outline-info">Info</a>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}