{% load static %}

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="#" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-success">Mesterul</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto p-4 p-lg-0 justify-content-center text-center">
            <li href="#" class="nav-item nav-link active">Home</li>
            <li href="#" class="nav-item nav-link">About</li>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
                <div class="dropdown-menu rounded-0 m-0 justify-content-center text-center">
                    <a href="#" class="dropdown-item">Job List</a>
                    <a href="#" class="dropdown-item">Post Jobs</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Workers</a>
                <div class="dropdown-menu rounded-0 m-0 justify-content-center text-center">
                    <a href="#" class="dropdown-item">Workers List</a>
                    <a href="#" class="dropdown-item">Post Your Service</a>
                </div>
            </div>
            <a href="#" class="nav-item nav-link">Contact</a>
        </ul>
            <ul class="navbar-nav ms-auto justify-content-center text-center">
                {% if user.is_authenticated %}
            <div class="dropdown ">
                <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    My account, {{ request.user.first_name }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
                <li class="nav-item d-lg-none">
                    <a href="{% url 'login' %}" class="btn btn-outline-success rounded-2 logare-btn ">Log in</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a href="{% url 'create_user' %}" class="btn btn-success rounded-2 register-btn">Sign up</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a href="{% url 'login' %}" class="btn btn-outline-success rounded-2 py-4 px-lg-4 me-1 login ">Log
                        in</a>
                </li>
                <li class="nav-item d-none d-lg-block ">
                    <a href="{% url 'create_user' %}" class="btn btn-success rounded-2 py-4 px-lg-4 me-1  signin ">Sign
                        up</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
